<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Uses the SQL Server LocalDB instance that ships with Visual Studio.
         The HotelMSDb database and all tables are created automatically the
         first time the application runs (see Global.asax.cs). -->
    <add name="HotelMSConnection"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HotelMSDb;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TaxRatePercent" value="12" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" />
    <authentication mode="None" />
    <sessionState mode="InProc" timeout="60" cookieless="false" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
